node_modules
npm-debug.log
Thumbs.db
*~
KinRec/.vs
KinRec/KinRec/x64
KinRec/x64
*.vcxproj.user
recorder/recordings/*
recorder/leapRecordings/*
build/
junk/
*/junk/
.node_pre_gyprc
recorder/test.jpg
recorder/lastLeapFrame.json
recorder/public/lastFrame.jpg
